<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Authtown</title>
    </head>
    <body>
        <h1>Authtown</h1>

        {% if user %}
            Logged in as [{{ user.id }}].
        {% else %}
            Not logged in.
        {% endif %}

        <h2>Register new user</h2>
        <form action="/auth/register" method="post">
            <div>
                <label for="register-username">Username:</label>
                <input type="text" name="username" id="register-username" required {% if user %} disabled {% endif %}>
            </div>
            <div>
                <label for="register-password">Password:</label>
                <input type="password" name="password" id="register-password" required {% if user %} disabled {% endif %}>
            </div>
            <div>
                <input type="submit" value="Register" {% if user %} disabled {% endif %}>
            </div>
        </form>

        <h2>Log in</h2>
        <form action="/auth/login" method="post">
            <div>
                <label for="login-username">Username:</label>
                <input type="text" name="username" id="login-username" required {% if user %} disabled {% endif %}>
            </div>
            <div>
                <label for="login-password">Password:</label>
                <input type="password" name="password" id="login-password" required {% if user %} disabled {% endif %}>
            </div>
            <div>
                <input type="submit" value="Log in" {% if user %} disabled {% endif %}>
            </div>
        </form>

        <h2>Log out</h2>
        <form action="/auth/logout" method="post">
            <div>
                <input type="submit" value="Log out" {% if not user %} disabled {% endif %}>
            </div>
        </form>
    </body>
</html>
