<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Authtown</title>
    </head>
    <body>
        <h1>Authtown</h1>

        {% if user %}
            Logged in as [{{ user.id }}].
        {% else %}
            Not logged in.
        {% endif %}

        <h2>Register new user</h2>
        <form action="/auth/register" method="post">
            <div>
                <label for="register-username">Username:</label>
                <input type="text" name="username" id="register-username" required>
            </div>
            <div>
                <label for="register-password">Password:</label>
                <input type="password" name="password" id="register-password" required>
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
        </form>
    </body>
</html>
